.productos-table {
  border-collapse: collapse;
  width: 100%;
}

.productos-table th,
.productos-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.productos-table th {
  background-color: #f2f2f2;
  color: #333;
}

.productos-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
